.container {
  border-radius: 4px;
  border: 1px solid #414141;
  background: #030303;
  width: 100%;
  max-width: 1300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.title {
  color: #06fc99;
  font-family: Silkscreen;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.subtitle {
  color: rgba(6, 252, 153, 0.69);
  font-family: Silkscreen;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}
